.blog {

  &__wrap {}

  &__item {}

  &-holder {

    &__image {}

    &__info {
      background-color: $primary-color2;
      color: #fff;
    }

    &__title {
      font:700 16px/1.5 $font1;
    }

    &__description {
      font: 16px/1.5 $font2;
    }
  }
}