.motivation {
    padding: 111px 0 55px;
    border-bottom: 1px solid #e6e7eb;
    background-color: #fff;

    &-inner {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }

    &-grid {
        width: 25%;
        padding: 0 15px 30px;
        display: flex;
    }

    &-holder {
        padding: 0 20px;
        display: flex;
        flex-direction: column;

        &:hover {
            .motivation-holder-head-decor {
                transform: rotate(45deg);
            }

            .motivation-holder__title {
                color: #ea6051;
            }

            .motivation-holder-head-border{

                &::before {
                    transform: translate(100%, 100%);

                }

                &::after {
                    transform: translate(0, 0);
                }

            }
        }

        &-head {
            width: 73px;
            height: 73px;
            position: relative;
            margin: 0 auto 35px;
            color: #ea6051;

            @include center-flex;

            &::before {

                transition: ease-in-out transform 0s;
            }

            &-decor {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                transition: ease-in-out transform .4s;
            }

            &-border {
                position: absolute;
                display: block;
                overflow: hidden;



                &::before,
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    transition:linear transform .5s;
                }

                &::before {
                    background-color: #e5e5e5;

                }

                &::after {
                    background-color: #ea6051;
                    transform: translate(-100%, -100%);
                }

                &-top {
                    top: 0;
                    right: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                }
                &-left {
                    left: 0;
                    top: 0;
                    bottom: 0;
                    height: 100%;
                    width: 1px;
                }
                &-right {
                    right: 0;
                    top: 0;
                    bottom: 0;
                    height: 100%;
                    width: 1px;
                }
                &-bottom {
                    bottom: 0;
                    right: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                }
            }
        }

        &__title {
            font:700 18px/1.3 $font2;
            text-transform: uppercase;
            text-align: center;
            color: $grey-type2;
            letter-spacing: 1px;
            position: relative;
            padding-bottom:18px;
            margin-bottom: 17px;
            transition: ease-in-out color .4s;
            flex: 1 0 auto;

            &:before {
                content: '';
                background-color: #888;
                width: 41px;
                height: 2px;
                display: block;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);

            }
        }

        &__description {
            font:300 12px/1.6 $font1;
            text-align: center;
            color: $grey-type1;
        }
    }

    @include breakpoint ($tablet) {

      padding: 40px 0 ;
    }
}
