.nav {
  flex: 1 0 auto;
  display: flex;
  justify-content: flex-end;

    &-list {
        max-width: 63%;
        width: 100%;
        display: flex;
        justify-content: space-between;

        &__item {
            padding: 0 10px;
        }

        &__link {
            text-transform: uppercase;
            color: #f4f5f9;
            padding-bottom: 20px;
            font-size: 14px;
            position: relative;
            transition: ease-in-out color .3s;

            &::before {
                content: '';
                width: 0;
                height: 1px;
                display: block;
                background-color: #e74c3c;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                transition: ease-in-out width .3s;
            }

            &:hover {
                color: #e74c3c;

                &::before {
                    width: 100%;
                }
            }

            &.active {
                color: #e74c3c;

                &::before {
                    width: 100%;
                }

            }
        }
    }

    &-mobile {
      display: none;

      &__item {
        font-size: 30px;
        color: #fff;
      }
    }

    @include breakpoint ($tablet) {

      padding-left: 30px;

      &-list {
        max-width: inherit;

        &__link {
          font-size: 16px;
        }
      }
    }

    @include breakpoint ($mobile) {

      &-list {
        display: none;
      }

      &-mobile {
      display: block;
      }
    }
}
