.services {
    display: flex;
    background-color: #202020;
    position: relative;
    width: 100%;
    overflow: hidden;

    .title2 {
        margin-right: 82px;
    }

    &-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding: 40px 0;
        width: 55%;
    }

    &-holder {
      position: relative;
    }

    &-images {
        max-width: 880px;
        width: 47%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 0 82px;
        position: relative;

        &.active {

            .services__icon {
                color: #ed9d96;
            }
        }

        &:hover {
            cursor: pointer;

            .services__icon {
                color: darken($primary-color, 15%);

            }
        }

        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }

    &__title {
        font: 700 18px/1.4 $font2;
        color: $primary-color;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    &__text {
        font: 14px/2.3 $font1;
        color: #999;
        width: 69%;
        text-align: right;
        width: 100%;
    }

    &__icon {
        background-color: #f4f5f9;
        color: $primary-color;
        border: 5px solid #585858;
        border-radius: 50%;
        width: 74px;
        height: 74px;
        font-size: 35px;
        position: absolute;
        top: 50%;
        right: -37px;
        transform: translateY(-50%);
        transition: ease-in-out color .4s;
        @include center-flex;
    }

    &-dots {
        position: absolute;
        top: 50%;
        left: 50px;
        transform: translateY(-50%);

        &__item {
            height: 34px;
            width: 1px;
            background-color: #3e3e3e;
            position: relative;
            display: block;

            &.active {
                background-color: $primary-color;
                width: 2px;
            }

            &:not(:last-child) {
                margin-bottom: 11px;
            }
        }
    }

    @include breakpoint ($tablet) {

      flex-direction: column;

      &-description {
        width: 100%;
      }

      &__item {
        padding: 0 15px;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 0;
        }
      }

      &__text {
        text-align: center;
      }

      &__icon {
        position: absolute;
        top: calc(100% + 37px);
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &-holder {
        display: flex;
        padding-top: 20px;
      }

      &-images {
        max-width: none;
        width: 100%;
      }

      &-dots {
        top:0;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;

        &__item {
          width: 34px;
          height: 1px;

          &:not(:last-child) {
              margin-right: 11px;
              margin-bottom: 0;
          }

          &.active {
            width: 34px;
            height: 2px;
          }
        }
      }
    }
}
