.stats {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    padding: 157px 0 136px;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(#000, .5);
    }

    &-wrap {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        // margin: 0 -20px;
        margin: 0 -65px;

        &__grid {
            width: 20%;
            padding: 0 20px;
        }
    }

    &-holder {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__icon {
            width: 111px;
            height: 111px;
            color: $color-white-castom;
            border: 2px solid $color-white-castom;
            border-radius: 50%;
            font-size: 30px;
            margin-bottom: 36px;

            @include center-flex;
        }

        &__number {
            font: bold 30px/1.5 $font2;
            color: $color-white-castom;
        }

        &__description {
            font: 18px/1.4 $font2;
            color: $color-white-castom;
        }
    }

     @include breakpoint ($laptop) {

       &-wrap {
           margin: 0 -15px;

           &__grid {
             padding: 0 15px;
           }
       }
     }

     @include breakpoint($tablet) {

       padding: 40px 0;

       &-wrap {
         justify-content: flex-start;

           &__grid {
             padding: 0 15px 30px;
             width: 33.33%;
           }
       }
     }

     @include breakpoint ($mobile) {

       &-wrap {

           &__grid {
             width: 50%;
           }
       }
     }

     @include breakpoint ($mobileM) {

       &-holder  {

         &__icon {
             width: 80px;
             height: 80px;
             font-size: 20px;
             margin-bottom: 15px;
         }

         &__number {
           font-size: 20px;
         }

           &__description {
             font-size: 14px;
           }
       }
     }
}
