.study {
    padding: 32px 0 197px;

    .title-main {
        margin-bottom: 113px;
    }

    &-wrap {
        display: flex;
        position: relative;
    }

    &-img {
        width: 50%;
        display: flex;
        flex-grow: 1;
        position: absolute;
        top: -45px;
        bottom: -45px;
        right: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }

    &-slider {
        // position: absolute;
        // left: 0;
        // top: 50%;
        // transform: translateY(-50%);
        position: relative;
        z-index: 1;
        background-color: #fff;
        height: 631px;
        width: 57%;

        &__item {
            display: flex !important;
            flex-direction: column;
            align-items: center;
            padding: 99px 60px 70px;
        }

        &__icon {
            color: #f3a59d;
            position: relative;
            width: 91px;
            height: 91px;
            font-size: 30px;
            margin-bottom: 65px;
            @include  center-flex;

            &::before {
                z-index: 1;
                position: relative;
            }

            &::after {
                content: '';
                width: 91px;
                height: 91px;
                display: block;
                background-color: $primary-color;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
            }
        }

        &__title {
            font:700 22px/1.3 $font2;
            color: $grey-type2;
            text-transform: uppercase;
            position: relative;
            padding-bottom: 25px;
            margin-bottom: 25px;

            &::before {
                @include lineDecor;
            }
        }

        p {
            font-size: 17px;
            line-height: 1.5;
            text-align: center;
        }

        &__link {
            background-color: $primary-color;
            text-transform: uppercase;
            color: #fff;
            font:700 12px/1.3 $font2;
            padding: 17px 39px;
            margin: 22px 0 15px;
            border-radius: 4px;

            &:hover {
                background-color: darken($primary-color, 10%);
            }
        }
    }

    .slick-dots {
        position: absolute;
        bottom: 48px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;

        li {
            padding: 0 4px;
        }

        .slick-active {

            button {
                background-color: $primary-color;
            }
        }

        button {
            text-indent: -9999px;
            display: block;
            width: 12px;
            height: 12px;
            border: none;
            background-color: $body-bg;
            border-radius: 50%;
        }
    }
}
