.works-holder {
    width: 25%;
    display: block;
    position: relative;
    overflow: hidden;
    transition: ease-in-out width .5s;
    height: 476px;

    &.hide {
        width: 0;
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: transparent;
        transition: ease-in-out background-color #{$transitionTime}s;
        z-index: 1;
    }

    &:hover {

        &::before {
            background-color: rgba($primary-color, .8);
        }

        .works-holder-info {
            opacity: 1;
            transform: translate3d(0px, 0, 0);
        }
    }

    &__img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        img {
            width: 100%;
        }
    }

    &-info {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        padding: 0 50px 10px;
        min-height: 135px;
        opacity: 0;
        transform: translate3d(-30px, 0, 0);
        transition: ease-in-out opacity #{$transitionTime}s, ease-in-out transform #{$transitionTime}s;
        pointer-events: none;

        &__title {
            font:700 20px/1.3 $basis-font-family;
            letter-spacing: 3px;
            color: #fff;
            text-transform: uppercase;
            padding-top: 31px;
            position: relative;
            margin-bottom: 10px;

            &::before {
                @include lineDecor;
            }
        }

        &-list {
            display: flex;
            margin: 0 -9px;

            &__item {
                font: 14px/1.3 $font2;
                color: #fff;
                padding: 0 9px;

                &:not(:last-child) {
                    position: relative;

                    &:before {
                        content: '';
                        display: block;
                        height: 100%;
                        width: 1px;
                        background-color: #fff;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        transform: rotate(14deg);
                    }
                }
            }
        }
    }

    @include breakpoint ($tablet) {
      width: 33.33%;
    }

    @include breakpoint ($mobile) {
      width: 50%;
    }

    @include breakpoint ($mobileM) {
      width: 100%;
    }
}
