.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 40px 0 21px;

    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
