.wrapper {
  display: flex;
  width: 100%;
  overflow-x: hidden;
  position: relative;

  &-inner {

    width: 100%;
    transition: ease-in-out transform .4s;
  }

  &-content {
    width: 100%;
  }

  &-mobi-nav {
    width: 300px;
    background-color: #000;
    position: absolute;
    top: 0;
    right: -300px;
    bottom: 0;
    background-color: $color-white-castom;
    // transform: translateX(300px);
  }

  @include breakpoint ($mobileM) {
    &-mobi-nav {
      width: 260px;
    }
  }
}
