$mobileM: 480;
$mobile:  767;
$tabletM: 992;
$tablet:  1023;
$laptop:  1440;

$widthvalue:'max-width';

$mobileMPoint: (#{$widthvalue} : #{$mobileM}px);
$mobilePoint:  (#{$widthvalue} : #{$mobile}px);
$tabletMPoint: (#{$widthvalue} : #{$tabletM}px);
$tabletPoint:  (#{$widthvalue} : #{$tablet}px);
$laptopPoint:  (#{$widthvalue} : #{$laptop}px);


$urlFont:'../fonts';
$urlImage:'../images/';





$basis-font-size:14;
$basis-color: #999;
$basis-line-height: 1.375;
$basis-min-width-window: 320;
$basis-font-family:  'SourceSansPro-Regular';
// $basis-font-family:  'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;



$transitionTime: .3;



$font1:'SourceSansPro-Regular';
$font1Dir1:'SourceSansPro-Regular';

$font1-2:'SourceSansPro-Bold';
$font1Dir1-2:'SourceSansPro-Bold';

$font2:'OpenSans-Regular';
$font1Dir2:'OpenSans-Regular';

$fontello:'fontello';
$fontelloDir:'fontello';




//>>>>>>> color-font <<<<<<<

$primary-color:#e74c3c;
$primary-color2:#e74e3e;

$color-white-castom: #f4f5f9;

$grey-type1: #999;
$grey-type2: #6a6a6a;
$grey-type3: #888;


$body-bg:#f4f5f9;
